.our-team {
  background-color: var(--bg-our-team);
  padding-bottom: 94px;
  padding-top: 94px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.our-team-heading {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-title-color);
}
.name-card {
  padding: 30px 32px;

  background-color: var(--white-color-text);
}
.our-team-name {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-title-color);
}

.our-team-profession {
  font-style: normal;
  font-weight: normal;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.footer {
  background-color: var(--title-box-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-link-color);
}
.style-logo-footer {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color-text);
}
.footer-list {
  margin-top: 9px;
}

.footer-address {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--white-color-text);
}
.footer-adress-hero {
  font-style: inherit;
  padding-right: 14px;
}

.footer-contakts-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* позиционирование индекс.хтмл */

/* разметка странички портфолио */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  font-weight: 500;
  padding: 6px 22px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  color: var(--primary-title-color);
  background: var(--bg-our-team);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:focus,
.filter:hover,
.btn-active {
  color: var(--white-color-text);
  background: var(--header-link-color);
}
.card-box {
  padding: 20px 24px;
  border: 1px solid var(--shadow-color);
  border-top: none;
}
.card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-title-color);
}

.card-paragraph {
  line-height: 30px;
  margin-top: 4px;

  color: var(--primary-text-color);
}

.current {
  color: var(--header-link-color);
}

/*позицинирование кнопок*/

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.list-item-container :focus,
.list-item-container :hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-item-container:not(:last-child) {
  margin-right: 8px;
}

/*позицинирование карточек*/

.hero-container {
  display: flex;
  flex-wrap: wrap;
}
.hero-container-link {
  display: block;
  width: 100%;
  height: 100%;
}
.hero-container-link:hover,
.hero-container-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero-container-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.hero-container-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

/*позицинирование foter*/

.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer.header-logo {
  display: block;
  padding: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.item-contakts-link:first-child {
  margin-bottom: 9px;
}
/*add svg header*/

/*add social - link*/

/*add clients - link*/
.main-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-head {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--our-clients);
}
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--social-icon);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--social-icon);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--header-link-color);
}
.clients-link:focus .clients-icon,
.clients-link:hover .clients-icon {
  fill: var(--header-link-color);
}
/*add footer social - link*/
.footer-container {
  display: flex;
  align-items: baseline;
}
footer-mail-box {
  width: 100%;
  margin-left: auto;
}
.footer-social-heading {
  font-weight: 700;
  line-height: 1.17;
  font-size: 14px;
  color: var(--white-color-text);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-social {
  margin-left: 70px;
  margin-right: 90px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
}
.footer-social-item {
  width: 44px;
  height: 44px;
  display: flex;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color-text);
}
.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--header-link-color);
}
/*модального окна стили)*/

/*выезжающее окно в портфолио*/
.hero-container-wrapper {
  position: relative;
  overflow: hidden;
}
.description {
  font-style: normal;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color-text);
  background-color: var(--header-link-color);
  opacity: 0.9;
  padding: 63px 24px;
  text-align: start;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-container-item :hover .description,
.hero-container-item :focus .description {
  transform: translateY(0);
}

/* подчёркивание ссылки текущей страницы*/
.header-item {
  display: block;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.5px;
  width: 100%;
  height: 4px;
  background: var(--header-link-color);
  border-radius: 2px;
}
/* Описание картинок в main-section-image */

/*footer mail box*/

.footer-mail-send {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--header-link-color);
  padding-right: 10px;
  color: var(--white-color-text);
}
.footer-button-icon {
  fill: var(--white-color-text);
}
.form-field {
  position: relative;
}
.input-img {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.clouse-icon:focus,
.clouse-icon:hover {
  fill: var(--header-link-color);
}
.form-btn {
  display: block;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-btn:focus,
.form-btn:hover {
  background-color: rgba(24, 140, 232, 1);
}
.input-wrap {
  display: block;
  position: relative;
  height: 40px;
}
label.textarea-label {
  margin-bottom: 20px;
}

/* castom input*/

/*footer mail*/

.form-online {
  display: flex;
  width: 100%;
}
.online-input {
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  color: var(--white-color-text);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: 0px;
}
.online-btn-icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: var(--header-link-color);
  color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 15%);
  border: none;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-btn {
  padding: 10px 28px;
  width: 200px;
  color: var(--white-color-text);
  display: flex;
}
