.main-title-box {
  padding: 200px 0;
}

.main-section-text {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-position {
  display: flex;
}

.list-position:not(:last-child) {
  margin-left: 15px;
}

.item-position {
  flex-basis: calc((100% - (3 * 30px)) / 4);
}

.item-position:not(:last-child) {
  margin-right: 30px;
}

.main-heading {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.main-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
.main-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-our-team);
  border-radius: 4px;
}
