.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-link-color);
}
.style-logo-footer {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color-text);
}
